<div class="container">

  <%= form_for(@customer,url: public_customers_update_path, html: {method: 'PATCH'}) do |f| %>
   <table>
     <tr><th>会員ID</th><td><%= @customer.id %></td></tr>
     <tr><th>氏名</th><td><%= f.text_field :first_name, autofocus: true %><%= f.text_field :last_name, autofocus: true %></td></tr>
     <tr><th>フリガナ</th><td><%= f.text_field :first_name_kana, autofocus: true %><%= f.text_field :last_name_kana, autofocus: true %></td></tr>
     <tr><th>郵便番号</th><td><%= f.text_field :postal_code, autofocus: true %>
     <tr><th>住所</th><td><%= f.text_field :address, autofocus: true %>
     <tr><th>電話番号</th><td><%= f.text_field :phone_number, autofocus: true %>
     <tr><th>メールアドレス</th><td><%= f.text_field :email, autofocus: true %>
   </table>
  <div class="row">
   <div class="col-lg-5">
    <%= f.submit '変更を保存する',class: "btn btn-success" %>
   <% end %>
   </div>
   <div class= "col-lg-7">
    <%=button_to "退会する", public_customers_st_update_confirm_path, method: :get, class: "btn btn-danger" %>
   </div>
  </div>
</div>