<div class="container">
<div class="row">
 <h2>マイページ</h2>
</div>
<div class="row">
 <div class="col-lg-2">
  <h3>登録情報</h3>
 </div>
 <div class="col-lg-4">
  <%= link_to "編集する", public_customers_edit_path,class: "btn btn-success" %>
 </div>
</div>
<table class="table table-hover table-inverse">
   <tr><th>氏名</th><td><%= @customer.name %></td></tr>
　 <tr><th>カナ</th><td><%= @customer.kana_name %></td></tr>
　 <tr><th>郵便番号</th><td><%= @customer.postal_code %></td></tr>
　 <tr><th>住所</th><td><%= @customer.address %></td></tr>
　  <tr><th>電話番号</th><td><%= @customer.phone_number %></td></tr>
　  <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
</table><br>
<div class="row">
  <div class="col-lg-2">
   <p>配送先<p>
  </div>
  <div class="col-lg-4">
   <%= link_to "一覧を見る", public_addresses_path,class: "btn btn-primary" %>
  </div>
</div>
<br>
<div class="row">
 <div class="col-lg-2">
  <p>注文履歴<p>
 </div>
 <div class="col-lg-4">
  <%= link_to "一覧を見る", public_orders_path(@customer),class: "btn btn-primary" %>
 </div>
</div>
</div>