<head>
  
</head>
<body>

<main>
 <div class ="container">
  <div class = "row">
   <div class = "mx-auto col-11　col-sm-10 col-lg-8 col-xl-6">
    <p>ようこそ、ながのCAKEへ！</br>
       このサイトは、CAKE販売のECサイトになります。</br>
       会員でない方も商品の閲覧はできますが、</br>
       購入には会員登録が必要となります。</p>
   </div>
  </div>
 </diV
 <div class="container">
 <div class="row">
  <div class="mx-auto" >
   <h2><i class="fas fa-cookie-bite"></i>新着商品<span style="font-size:20px;">（全<%= @items.count %>件）</span></h2><br>
    <div class="row">
     <% @items.each do |item| %>
     <div class="box" style="float:left; margin-right:20px;">
      <%=  attachment_image_tag item, :image, format: 'jpeg', size: "200x200" %></tr>
      <p><%= link_to item.name, "/items/#{item.id}" %></p>
      <P>￥<%= (item.price * 1.1).floor %>  </P>
     </div> 
      <% end %>
    </div>
<%= link_to "全ての商品を見る>", items_path %>
</main>
</body>