<div class="container">
<h2><%= @customer.name %>さんの会員詳細</h2><br>

<table>
  <tr>
   <th>会員id</th>
   <td><%= @customer.id %></td>
  </tr>
   <tr>
   <th>氏名</th>
   <td><%= @customer.name %></td>
  </tr>
  <tr>
   <th>フリガナ</th>
   <td><%= @customer.kana_name %></td>
  </tr>
  <tr>
   <th>郵便番号</th>
   <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
   <th>住所</th>
   <td><%= @customer.address %></td>
  </tr>
  <th>電話番号</th>
   <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
   <th>メールアドレス</th>
   <td><%= @customer.email %></td>
  </tr>
  <tr>
   <th>会員ステータス</th>
   <td><%= @customer.is_deleted %></td>
  </tr>
  
 </table>
 <%= link_to "編集する", edit_admin_customer_path(@customer), class:"btn btn-primary" %>  
 <%= link_to "注文履歴一覧", admin_orders_path(order_sort: 1, customer_id: @customer), class:"btn btn-primary" %>
</div>
  