<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>注文履歴詳細</h2>
      <table>
       <tr>
        <th>購入者</th>
        <td><%= @order.name %></td>
       </tr>
       <tr>
        <th>注文日</th>
        <td><%= @order.created_at %></td>
       </tr>
       <tr>
        <th>配送先</th>
        <td><%= @order.address %></td>
       </tr>
       <tr>
        <th>支払い方法</th>
        <td><%= @order.payment_method %></td>
       </tr>
       <tr>
         <th>注文ステータス</th>
         <td>
         <%= form_for(@order,url: admin_order_path, method: :PATCH) do |f| %>
           <%= f.select :status,["入金待ち","入金確認","製作中","発送準備中","発送済み"] ,style: "margin-top:10px;#" %>
           <%= f.submit "更新" ,class: "btn btn-primary btn-sm" %></td>
         <% end %>
        </tr>
     </table>
  </div>
 </div>
 
 <div>
  <div class=" col-xs-9">
   <table class="table ">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
       <% @order_details.each do |detail| %>
          <tr>
           <td><%= detail.item.name %></td>
           <td><%= detail.price %></td>
           <td><%= detail.amount %></td>
           <td></td>
           <%= form_with(model: detail, url: admin_order_history_detail_path(detail),method: :patch, local:true) do |f| %>
           <td><%= f.select :making_status,["着手不可","製作待ち","製作中","製作完了"] %></td>
           <td><%= f.submit "更新" ,class:"btn btn-primary btn-xs" %></td>
         <% end %>
          </tr>
       <% end %>
   </table>
  </div>
  <div>
     
    
     <h4>商品合計     <%= @order.payment %> 円</h4>
     <h4>送料　　　    <%= @order.shipping %></h4>
     <h4>請求金額合計　<%= @order.payment + 800 %>円</h4>
  </div>
 </div>