
<div class="container">
 <div class="row">  
  <h4>ログイン</h4>
 </div>
<div class="row">
  <p>会員の方はこちらからログイン</p>
</div>
<div class="row">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label for="email"> メールアドレス</label> &nbsp;&nbsp;
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label for="password">パスワード</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  
  

  <div class="actions">
    <%= f.submit "ログイン"  %>
  </div>
<% end %>
<div class="container">
 <div class="row">
 <div class="mx-aout"> 
 &nbsp;&nbsp;&nbsp;<p class="bg-light text-black">会員登録がお済でない方</p>
<p><%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。</p>
</div>
</div>

</div>
