<body>
<header class shadow-sm>
 <nav class = "navbar navbar-expand-lg navbar-light">
  <div class ="container">
   <a class = "navbar-brand p4" href="/">
    <span>ながのCAKE</span>
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>    
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
     <%= link_to "About",about_path, class: 'nav-link text-dark' %>
    </li>
    <li class= "nav-item">
     <%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %>
    </li>
    <li class= "nav-item">
     <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
    </li>
    <li class="nav-item">
     <%=link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
    </li>
  </div>
 </div>
 </nav>  
</header>

<div class="container">
 <div class="row">  
<h4>ログイン</h4>
</div>
<div class="row">
  <p>会員の方はこちらからログイン</p>
</div>
<div class="row">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label for="email"> メールアドレス</label> &nbsp;&nbsp;
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label for="password">パスワード</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  
  

  <div class="actions">
    <%= f.submit "ログイン"  %>
  </div>
<% end %>
<div class="container">
 <div class="row">
 &nbsp;&nbsp;&nbsp;<p class="bg-light text-black">会員登録がお済でない方</p>
</div>
<p><%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。</p>
</div>
</div>
